<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.halcyonwaves.apps.energize" android:versionCode="1" android:versionName="0.1">
    
    <!-- define which OS requirement this application has -->
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" android:maxSdkVersion="15" />

	<!-- define the content of this application -->
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        
        <!-- tell Android that we want to be informed about power connection changes -->
		<receiver android:name="com.halcyonwaves.apps.energize.receivers.PowerConnectionReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
			</intent-filter>
		</receiver>
        
        <!-- tell Android that we want to be informed about battery level changes -->
		<receiver android:name="com.halcyonwaves.apps.energize.receivers.BatteryLevelReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
				<action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
			</intent-filter>
		</receiver>
		
    </application>

</manifest>