<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halcyonwaves.apps.energize"
    android:installLocation="internalOnly"
    android:versionCode="92"
    android:versionName="0.9" >

    <!-- define which OS and screen requirement this application has -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- list all permissions we need to run this application -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- define the content of this application -->
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:name=".ApplicationCore" >

        <!-- define the  services we have implemented -->
        <service
            android:name="com.halcyonwaves.apps.energize.services.MonitorBatteryStateService"
            android:exported="false" />
        <!--
             <service
            android:name="com.halcyonwaves.apps.energize.services.BillingService"
            android:exported="false" />
        --><service
            android:name=".EnergizeExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/app_name" />
        </service>

        <!-- register a receiver which gets called after the device booted up -->
        <receiver
            android:name="com.halcyonwaves.apps.energize.receivers.BootCompletedReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- register a receiver for handling the in-app billing responses -->
        <!--
        <receiver
            android:name="com.halcyonwaves.apps.energize.receivers.BillingReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        -->


        <!-- define our widget we are exporting with this app -->
        <receiver
            android:name="com.halcyonwaves.apps.energize.widgets.SimpleBatteryWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprov_simplewidget" />
        </receiver>

        <!-- define the main activity which will be displayed if the user selects the launcher item -->
        <activity
            android:name="com.halcyonwaves.apps.energize.BatteryStateDisplayActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- define the preference activity we want to show -->
        <activity android:name="com.halcyonwaves.apps.energize.SettingsActivity" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />
    </application>

</manifest>